body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-position: center center;
    background: linear-gradient(180deg, #e8eff4, #a5bdcf);
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-attachment: fixed;
    position: relative;
    background-size: cover;
    margin: 0;
}

.content-container {
    padding: 20px;
}

.navbar-container {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.what-we-can-do {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

h2 {
    font-size: 30px;
}

.submit {
    text-align: center;
    color:rgb(17, 17, 221);
    font-size: 18px;
    padding: 2rem;
    margin: 2rem;
    border-style: solid;
}

.pageFooter {
    margin-top: auto;
    width: 100%;
    text-align: center;
    background-color: #333;
    color: white;
}

.pageFooter > p {
    margin: 5px;
    font-size: small;
}

.suggestionw {
    color: #ff5733; 
    text-decoration: none;
}

.question {
    font-weight: bold;
    font-size: 20px;
    color: #333;
}