#pageFooter {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

/* Style for the suggestion link */
#suggestionw {
    color: #ff5733; /* Change the link color to red */
    text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #e8eff4, #a5bdcf);
}

.content-container {
    padding: 20px;
    display: flex; /* Added display: flex */
    flex-direction: column; /* Adjust the flex direction as needed */

}


.navbar-container {
    background-color: #D6E2E0;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.navbar-container {
    background-color: #D6E2E0;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.content-container {
    padding: 20px;
    display: flex; /* Added display: flex */
    flex-direction: column; /* Adjust the flex direction as needed */
}
#what-we-can-do {
    font-size: 30px; /* Adjust the font size as needed */
    
}

/* Optionally, you can also increase the font size of the list items */
#what-we-can-do ul li {
    font-size: 18px; /* Adjust the font size for list items */
}

#Submit {
  color:rgb(17, 17, 221);
  font-size: 2vw; /* Adjust the font size to make it smaller */
  padding: 2vw; /* Adjust the padding to make the block smaller */
  margin: 1vw; /* Adjust the margin to make the block smaller */
  border-style: solid;
}



