body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-position: center center;
    background: linear-gradient(to right, #b6fbff, #83a4d4);
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-attachment: fixed;
    position: relative;
    background-size: cover;
    margin: 0;
}

.navbar-container {
    background-color: #6794e7;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo-img { 
    width: 3rem;
}

h2 {
    text-align: center;
}

.content-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ai-revolution, .our-mission, .how-it-began, .our-team {
    max-width: 60%
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.pageFooter {
    margin-top: auto;
    width: 100%;
    text-align: center;
    color: white;
}

.pageFooter > p {
    margin: 5px;
    font-size: small;
}

.suggestionw {
    color: #ff5733; 
    text-decoration: none;
}

.question {
    font-weight: bold;
    font-size: 20px;
    color: #333;
}