/* career.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar-container {
    background-color: #D6E2E0;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar-container .logo img {
    width: 100px; /* Adjust the width of the logo */
    height: auto;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    margin: 0 10px;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.menu li a:hover {
    text-decoration: underline;
}

h2 {
    text-align: center;
}

.content-container {
    padding: 20px;
    display: flex; /* Added display: flex */
    flex-direction: column; /* Adjust the flex direction as needed */
}

section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Adjustments for the image row */
.image-row1 {
    display: flex;
    justify-content: center; /* Center the images */
    flex-wrap: wrap; /* Wrap images to a new line if needed */
}
/* Adjust the width of the large image in the first row */
/* Adjust the width of the large image in the first row */
.image-row1 img {
    max-width: 70%; /* Adjust the width of the large image */
    height:max-content; /* Maintain the image aspect ratio */
}

.image-row2 {
    display: flex;
    justify-content:left; /* Center the images */
    flex-wrap: wrap; /* Wrap images to a new line if needed */
}

/* Media query to center image-row2 for smaller screens */
@media (max-width: 1060px) {
    .image-row2 {
        justify-content: center; /* Center the images */
    }
}

.image-container {
    margin: 10px; /* Add some margin between images and text */
    text-align: center; /* Center text */
    width: 48%; /* Make each container take 48% of the row to allow for spacing */
    display: inline-block; /* Display as inline block to stay on the same line */
    box-sizing: border-box; /* Include padding and border in the width */
    vertical-align: top; /* Align to the top of the line */
}


/* Adjust the width of small images */
.image-container img {
    max-width: 40%; /* Adjust the width of each image */
    height: auto; /* Maintain the image aspect ratio */
}

.image-text {
    font-size: 14px;
}

#pageFooter {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

/* Style for the suggestion link */
#suggestionw {
    color: #ff5733; /* Change the link color to red */
    text-decoration: none;
}

body {

    background-position: center center;
    background: linear-gradient(180deg, #e8eff4, #a5bdcf);
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-attachment: fixed;
    position: relative;
    background-size: cover;

}

