body,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar-container {
    
   
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar-container .logo img {
    width: 100px; /* Adjust the width of the logo */
    height: auto;
}
body {

    background-position: center center;
    background: linear-gradient(180deg, #e8eff4, #a5bdcf);
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-attachment: fixed;
    position: relative;
    background-size: cover;

}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.left-section {
    width: 40%;
    padding: 50px;
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 20px;
    color: #333;
    line-height: 1.5;
}

.section-heading {
    margin-left: 60px;
    font-weight: bold;
    font-size: 30px;
    color: #304458;
    margin-bottom: 10px;
    font-weight: bolder;
}
.left-section li {
    list-style: disc;

}

/* Style for the right section */

.right-section {
    width: 50%;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    font-family: "Helvetica", sans-serif;
    border: dashed 2px #99b3cf;
    border-radius: 10px 10px 10px 10px;
    position: relative;
    background: linear-gradient(180deg, #c9d9e9, rgba(210, 221, 232, 0));
    overflow: hidden;
}

.question {
    font-weight: bold;
    font-size: 20px;
    color: #333;
}


.input-container {
    margin-top: 20px;
    padding: 5px;

    border-radius: 10px;

}

.text-input {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-family: "Georgia", serif;
    font-size: 18px;
    outline: none;
    resize: vertical;
}


.check-button {
    width: 100%;
    padding: 10px 20px;
    background-color: #0f1317;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Arial", sans-serif;
    font-size: 18px;
}

.check-button:hover {
    background-color: #0056b3;
}


.file-label {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #667e97;
    cursor: pointer;
}


.file-input {
    display: none;
}

#pageFooter {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}



.space-below {
    margin-top: 20px;
    padding: 20px;
    text-align: center; 
}
.centered {
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #304458;
}

.centered p {
    font-size: 16px;
    color: #333;
    margin-left: 100px;
}

/* Styles for the boxes */

@media (max-width: 850px) {
    .content {
        flex-direction: column; 
    }
    .left-section {
        width: 100%; 
    }
    .right-section {
        width: 100%; 
    }
    .right-section {
        margin-top: 20px; 
    }
}
@media (min-width: 801px) {
    .boxes {
        display: flex;
        justify-content: space-between;
    }

    .box {
        flex: 1;
        padding: 20px;
        text-align: center;
        border: 2px solid #99b3cf;
        border-radius: 10px;
        margin: 50px;
        background-color: #fff;
    }
}

#pageFooter {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

#suggestionw {
    color: #ff5733; /* Change the link color to red */
    text-decoration: none;
}
