body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-position: center center;
    background: linear-gradient(to right, #b6fbff, #83a4d4);
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-attachment: fixed;
    position: relative;
    background-size: cover;
    margin: 0;
}

.navbar-container {
    background-color: #6794e7;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo-img { 
    width: 3rem;
}

.section-heading {
    font-weight: bold;
    font-size: 30px;
    color: #304458;
    margin-bottom: 10px;
    font-weight: bolder;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}

.left-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #333;
    font-size: 20px;
    line-height: 1.5;
}

/* Style for the right section */
.right-section {
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Helvetica", sans-serif;
    border: solid 2px #99b3cf;
    border-radius: 10px;
    background: #c9d9e9;
}

.input-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.text-input {
    width: 100%;
    height: 250px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-family: "Georgia", serif;
    font-size: 18px;
    outline: none;
    resize: vertical;
}

.check-button {
    width: 250px;
    padding: 10px 20px;
    background-color: #0f1317;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Arial", sans-serif;
    font-size: 18px;
}

.check-button:hover {
    background-color: #0056b3;
}

.detection-result-container {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detection-result {
    display: none;
    text-align: center;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
}

.result-classification {
    color: #33b864;
}

.probability {
    color: #FFA500;
}

.other-classification {
    color: #0047ab;
}

.pageFooter {
    margin-top: auto;
    width: 100%;
    text-align: center;
    /* background-color: #85b3f4; */
    color: white;
}

.pageFooter > p {
    margin: 5px;
    font-size: small;
}

.suggestionw {
    color: #ff5733; 
    text-decoration: none;
}

.question {
    font-weight: bold;
    font-size: 20px;
    color: #333;
}


@media (max-width: 850px) {
    .content {
        grid-template-columns: 1fr; 
    }
}