.navbar-container {
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid rgb(167, 191, 199);;
}

nav {
    color: #ffffff;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-family: "Helvetica", Arial, sans-serif;

}

/* Style for the logo */
.logo a {
    text-decoration: none;
    color: #a29c9c;
    font-weight: bold;
    font-size: 30px;
    font-family: "Georgia", serif;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-right: 30px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration: none;
    color: #969191;
    font-weight: bold;
    font-size: 15px;
    font-family: "Verdana", sans-serif;
    transition: color 0.3s;
}

.menu a:hover {
    color: #007BFF;

}

.menu .active a {
    color: #007BFF;
}
