.notification {
    display: none;
    top: 100%;
    left: 0;
    background: #fff;
    border: 1px solid #0d0d0d;
    padding: 10px;
    border-radius: 5px;
    animation: fadeOut 10s linear forwards;
}

.exclamation-mark {
    color: #ff0000;
    font-size: 36px;
    margin-bottom: 10px;
}

.notification-content {
    color: #333;
    font-size: 16px;
}

.progress-bar {
    height: 3px;
    background: #ff0000;
    width: 100%;
}

@keyframes fadeOut {
    0%, 90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes progress {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}


